.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Icon{
  height: 100px;
  width: 100px;
  opacity: 0.1;
  align-items: start ;
}

.Text{
  text-align: center;
  padding-top: 150px;
  margin-bottom: 50px;
}

.Container1{
  background-color: peachpuff;
}
.Container2{
  background-color: cadetblue;
  position: center;
  margin: auto;
  width: 70%;
  height: 100vh;
}
